@model WebTraSua.Models.ChiTietSanPham
@{
    ViewBag.Title = "Sửa Sản Phẩm";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<br /><br />
<h2>Sửa Sản Phẩm</h2>
@using (Html.BeginForm("SuaSanPham", "Admin", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>ChiTietSanPham</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.MaSP)
        <div class="form-group">
            <div class="control-label col-md-2" style="font-weight:bold">Ngày Cập Nhật</div>
            <div class="col-md-10">
                <input type="date" name="NgayCapNhat" />
                @Html.EditorFor(model => model.NgayCapNhat)
                @Html.ValidationMessageFor(model => model.NgayCapNhat)
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-md-2" style="font-weight:bold">Tên Sản Phẩm</div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.TenSP)
                @Html.ValidationMessageFor(model => model.TenSP)
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-md-2" style="font-weight:bold">Nguyên Liệu</div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.NguyenLieu)
                @Html.ValidationMessageFor(model => model.NguyenLieu)
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-md-2" style="font-weight:bold">Giá Bán</div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.GiaBan)
                @Html.ValidationMessageFor(model => model.GiaBan)
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-md-2" style="font-weight:bold">Mô Tả</div>
            <div class="col-md-10">
                <textarea name="MoTa">@Model.MoTa</textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-md-2" style="font-weight:bold">Số Lượng</div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.SlTon)
                @Html.ValidationMessageFor(model => model.SlTon)
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-md-2" style="font-weight:bold">Thể Loại</div>
            <div class="col-md-10">
                @Html.DropDownList("MaTheLoai")
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-md-2" style="font-weight:bold">Phân Loại</div>
            <div class="col-md-10">
                @Html.DropDownList("MaLoai")
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-md-2" style="font-weight:bold">Ảnh Bìa</div>
            <div class="col-md-10">
                Chọn Ảnh Mới
                <input type="file" name="fileUpload" />
                <img src="@Url.Content("~/images/" + Model.AnhBia)" width="120" /> (Ảnh Hiện Tại)
                @*thong bao trung*@
                @ViewBag.Thongbao
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-md-2" style="font-weight:bold">Ảnh_1</div>
            <div class="col-md-10">
                <input type="file" name="fileUpload_1" />
                <img src="@Url.Content("~/images/" + Model.Anh_1)" width="120" /> (Ảnh Hiện Tại)
                @*thong bao trung*@
                @ViewBag.Thongbao
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-md-2" style="font-weight:bold">Ảnh_2</div>
            <div class="col-md-10">
                <input type="file" name="fileUpload_2" />
                <img src="@Url.Content("~/images/" + Model.Anh_2)" width="120" /> (Ảnh Hiện Tại)
                @*thong bao trung*@
                @ViewBag.Thongbao
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-md-2" style="font-weight:bold">Ảnh_3</div>
            <div class="col-md-10">
                <input type="file" name="fileUpload_3" />
                <img src="@Url.Content("~/images/" + Model.Anh_3)" width="120" /> (Ảnh Hiện Tại)
                @*thong bao trung*@
                @ViewBag.Thongbao
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lưu Lại" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<div style="font-size:20px"> @Html.ActionLink("Về trang Quản Lý", "SanPham")</div>